#about-image {
    /* Positioning */
    float: left;
  
    /* Box-model */
    width: 200px;
    margin: 0 20px 10px 0;
  }

#content{
    margin-top: 10%;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
